body {
   background-color: #a3d177;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(7, 39, 90);
   font-size: 25px;
   text-align: center;
   }

  #title {
    color:rgb(80, 29, 29);
  }

 #main {
 font-size: 20px;
 background-color: rgb(174, 214, 174);
 color:rgb(11, 98, 4);
 background-size: cover;
 height: 90vh;
 text-decoration: none;
 font-size: 2.0em;
 padding: 1.0rem;
 border-radius: 15%;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items:center;
 }

 @media (max-width: 550px){
  .hidden--mobile {
    display: none;
   }
 }
 @media (min-width: 550px){
  #jumbotron {
    height: 80vh;
  }
}
@media (max-width: 500px){
  .hidden--mobile {
    display: none !important;
  }
}
 #About {
      font-weight: bold;
      align-content: center;
      text-justify: start;
 }
 #About > path {
  background-image: url("https://github.com/1Paragon/TBProject/blob/master/Photos/path1.jpg?raw=true");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
   }

    #jumbotron {
      background-image: url("https://github.com/1Paragon/TBProject/blob/master/Photos/river%20edge1e%20.jpg?raw=true");
      opacity: 75%;
    }
    #jumbotron > h2 {
      color: rgb(18, 56, 126);
      text-align: center;
    }
    #jumbotron > a {
      text-decoration: none;
      background-color: rgb(91, 188, 206);
      font-size: 2.0em;
      padding: 1.0rem;
      border-radius: 10px;
    }
    #Happenings > robopic {
      image: url("https://github.com/1Paragon/TBProject/blob/master/Photos/robots4a.jpg?raw=true");
      display: flex;
      flex-direction: column;
      align-items: center;
      }

    form {
      border: solid 2px black;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem 1rem;
    }
    form > * {
      margin: .5rem;
    }
    form > input[type=submit] {
      width: 40%;
      }
    #Gallery {
      clear: both;
      }
    #Gallery > * {
      padding: 0.5rem;
    }
    #Gallery img {
      display: block;
      height: auto;
      width: 60%;
      margin: auto;
    }
    #Gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #Gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
      background-color: white;
    }

    nav {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }
    nav > i {
        padding: 1rem;
        font-size: 2em;
      }
    nav > ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 0;
      }
    nav > ul > li {
        padding: .5rem;
        list-style-type: none;
      }
    nav > ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0 0;
      }
    nav > ul > li {
        display: inline-block;
        text-decoration: none;
        border: 1px solid;
        padding: .5rem .5rem;
        border-radius: 25px;
      }
      nav > .fa-bars {
        display: none;
      }

    //#bio {
    //margin: 1rem;
    // }
    //#bio {
    //margin-right: 3rem;
    //}
    //#bio img {
    //float: left;
    //width: 25%;
    //height: auto;
    //margin-right: 1rem;
    //}
    //#bio img {
    //float: left;
    //width: 40%;
    //height: auto;
    //margin-right: 1rem;
    //}

      footer {
        border-top: solid 1px black;
        padding: 2rem 2rem 4rem;
        margin: 1rem 1rem;
        display: flex;
        align-items: flex-end;
        justify-content: center
      }












