.body {
   background-color: #5c8a68;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(220, 223, 72)
   font-size: 16px;
   text-align: center;
   }

   #title {
    color:rgb(80, 29, 29);
  }

.header {
    color: goldenrod;
    font-size: 30px;
    background-color: green;
}

.hamburger {
        list-style-type: none;
        margin: 4px;
        width: 15%;
        background-color: rgb(114, 107, 138);
        position: top, right;
        height: 30%;
        overflow: hidden;
        display: block;
        color: rgb(184, 181, 7);
        padding: 5px 5px;
        text-decoration: none;
        text-justify: left;
        align-content:flex-start;
    }

      #mainphoto {
        width: auto;
        height: 100vw;
        text-align:center;
        background-image:
        url("C:/Users/Newuser/Desktop/PhotosforProject2020/photosfinal/riveredge.jpg?raw=true");

        background-size: contain;
        font-weight: bold;
      }


    .About {
      font-weight: bold;
      align-content: center;
      text-justify: left;
    }






