


#id=center;
div {
font-color: gold;
border: 1px black;
}
h1,h3
{
 padding: 5px 15px;
 color: olive;
 margin: 20px;

 }
h1
}
font-size:26;
}
h3
}
font-size:16;
}
//font-family: Share; {
}
div {
font-color: gold;
border: 1px black;
}
h1,h3
{
 color: olive;
 }
h1
}
font-size:26;
}
h3
}
font-size:16;
}
.hamburger {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 20%;
        background-color: white;
        position: fixed;
        height: 25%;
        overflow: hidden;
    }
li a {
        display: block;
        color: rgb(170, 168, 52);
        padding: 8px 16px;
        text-decoration: none;
    }
.hme {
        background-color: #558562;
 }
.mainphoto {
     width: auto;
     text-align:center;
     padding:5px;
      }
#riverimage {
          width: 100%;
          height:100%;
          object-fit: contain;
      }

